body {
  border: 0;
  padding: 0;
  overflow-x: hidden;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  align-items: center;
  margin-top: 0%;
  background: rgb(10, 145, 98);
  font-family: calibri;
  padding-right: 0;
  padding-left: 0;
  border-width: 0;
  border: 0;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  align-items: center;
  margin-top: -2%;
}
.navbar ul {
  align-items: center;
  margin-top: 1%;
}
.logo .link_1 {
  font-size: 35px;
  font-weight: 600;
  color: #121212;
}
.list {
  list-style: none;
  display: inline-block;
}
.list .link_2 {
  color: rgb(5, 6, 5);
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: inherit;
}
  
.container li:hover {
  transform: scale(1.2);
}
.html-files,
.js-files {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  padding: 10px;
  border-bottom: 1px;
}

a:hover {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
    position: fixed;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
    position: fixed;
  }
}
.file {
  background: #327e9c8d;
}
li {
  border-bottom: 10px solid rgba(0, 0, 0, 0);
}
.js-files {
  border-left: 10px solid rgba(0, 0, 0, 0);
}
h2 {
  color: #fff;
  font-size: 50px;
}
li .file {
  display: flex;
  color: aqua;
  font-size: 40px;
  width: 300px;
}
.container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.js-files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.js-files h2 {
  margin-top: 70px;
  margin-bottom: 10px;
}
.html-files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.html-files h2 {
  margin-top: 70px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  body{
    margin: 0;
  }
  .video {
    display: none; /* Hide the video on tablets */
  }
    .navbar {
    padding-right: 5px;
    padding-left: 5px;
  }

  .logo .link_1 {
    font-size: 20px;
  }

  .list {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .list .link_2 {
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .container {
    flex-direction: column;
  }

  .html-files, .js-files {
    width: 90%;
    margin-bottom: 20px;
  }
  ul{
    display: flex;
    justify-content: space-around;
  }

  li .file {
    font-size: 30px;
    width: auto;
  }

  h2 {
    font-size: 40px;
  }

  .html-files h2, .js-files h2 {
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .page {
    background: url('../img/img_t.jpg') no-repeat center center;
    background-size: cover;
    background: fixed;
    margin: 0;
    
  }
}

@media screen and (max-width: 480px) {
  .video {
    display: none; /* Hide the video on mobile phones */
  }

  body{
    background-color: rgb(29, 22, 34);
  }
  .container {
    flex-direction: column;
  }
  .navbar {
    padding-right: 5px;
    padding-left: 5px;
  }

  .logo .link_1 {
    font-size: 20px;
  }

  .list {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .list .link_2 {
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .html-files, .js-files {
    width: 100%;
    margin-bottom: 15px;
  }

  .html-files{
    margin-top: 40px;
  }

  li .file {
    font-size: 24px;
    width: 100px;
  }

  h2 {
    font-size: 30px;
  }

  .html-files h2, .js-files h2 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .page {
    background: url('../img/img_m.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
  }
}


